body{
    background-color: rgb(9, 175, 98);
    border: 5px solid black;
    width: 59%;
    color: rgb(14, 14, 14);
    background-image: url(./asset/image/jos23.jpg);
    background-repeat: cover;

}
.container{
    margin-left: 30px;
}
h1{
    text-align:justify;
    text-transform: uppercase;
    /* background-color: rgb(215, 16, 222); */
    background-position: 10px;
    width: 40%;
}
.exchange-form{
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: rgb(27, 28, 28);
}
#fromCurrency{
    color: blue;
    background-color: black;
}
#result{
    color: rgba(232, 130, 6, 0.905);
}